.Rhistory
.RData
.Rproj.user
.DS_Store
.Ruserdata
.api_key.json
.httr-oauth
.Renviron
.Rbuildignore
.Rproj.user/
/*.Rcheck/
*_cache/
/cache
R/testing.R
/*.tar.gz
testing_building.R
documentation_file.R
